
body {
    font-family: Arial, sans-serif;
  }
  h1{
      text-align: center;
      color:blue;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form_group {
    margin-bottom: 10px;
  }
  .form_group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form_group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form_group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #sub_btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  #sub_btn:hover {
    background-color: red;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#008000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  .btn:hover {
    background-color: #ff0770;
  }











